canvas {
    width: 100%;
    height: auto;
}

#canvas-container {
   text-align: center;
}

/*single page*/
#textlayer-container > div {
    position: absolute;
}

/*single line on every page*/
#textlayer-container > div > * {
    position: absolute;
}
